DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/quotex_bot
TELEGRAM_BOT_TOKEN=8812602304:AAHw2QIxDgQgXxr5ivOrF869Pg_PF8-5ZiA
ADMIN_CHAT_ID=8026093567
LOG_LEVEL=INFO
ENCRYPTION_KEY=JKPZYoC1aR_lwctj_ZRv7HVawlNhb0ky0pbifgOIUEI=
